@import url(http://fonts.googleapis.com/css?family=Lobster);


*{
margin:0;
padding:0;
}
body{
    background:black;
}
	/* Zaglavlje glavno  */
#zaglavlje{
 margin:0 auto;
 font-family:Lobster;
 color:white;
 text-align:center;
 margin-top:10px;
 padding:0;
 font-size:50%;

}
#zaglavlje img {

    padding: 0;

}
#zaglavlje p{
    padding: 0;
	display: inline;
    position:relative;
	margin-left:-6.5%;
}

	/*  Meni stranice*/
#meni{
width:100%;
margin:0 auto;
padding: 0;
text-align:center;
font-size:medium;
position:fixed;
min-width:1000px;

 }

#meni ul{

list-style-type: none;
	display:flex;
    padding: 0;
	margin-top:12px;

background:#292929;
	height:50px;
}
#meni li{

list-style-type: none;
    margin: 1% auto;
    padding: 0;
	display: inline;
	

}
#meni a{
	width:100%;
	height:100%;
    color:white;
    text-decoration: none;
	background:#292929;
    text-transform: uppercase; 
	
}  	/*  Padajuci meni friends  */
#podMenu{

	display:none;
	width:100%;
	min-width:100%;
	display:flex;


}

#podMenu li{
	display:none;
	
}

#podMenu a{

	display:block;
	width:100%;

    text-align: center;
        
}
#meni a:hover{
background:rgba(111,111,111,0.6)
}
 	/* Linkovi na dnu svake stranice */
#dno {
position: fixed;
	bottom:0;
	height:25px;
	left:25%;
	width: 50%;
	margin:0 auto;
	display:block;
}
#dno ul{
list-style-type: none;
    margin: 0;
    padding: 0;
	text-align:center;
	}
	#dno li{

list-style-type: none;
    margin: 0;
    padding: 0;
	display: inline;

	
}
#dno a{
	text-align:center;
    color:white;
    text-decoration: none;
    border-left: 2px solid ;
	border-color: white;
    box-sizing: border-box;

  

	 
}
#pred {
  margin-left:15%;
  margin-top:3%;
  padding:0;
}
 	/* na index stranici mjesto za vijesti*/
#glavni {

    margin: 0 auto;
    width:69%;
    padding: 0;
	margin-top:14%;
	background:#292929;
	margin-left:21%;
    vertical-align: text-top;
    text-align: left;
	display:flex;

	border: 2px solid white;
    color:white;

	
}


.author{
	position:relative;
	margin:3px;
	font-size:70%;
	text-align:left;
	
	}

.news{
padding:15px;
border:2px solid white;
    text-decoration: none;
    color:white;
	text-align:justify;
	border:2px solid white;
	display:inline-block;
}


.news:hover {
	background:rgb(111, 111, 111);
	}
	
	.news img{
	float:left;
	width:20%;
	margin:0 1%;
	height:auto;
	}
	/* Kontakt forma*/
#forma {

position:relative;
color:white;
width:100%;
height:40%;
margin:1% auto;
margin-left:30%;
  margin-top:14%;
margin-right:45%;
  padding:0;


}
#forma label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100%;
    text-align: left;
}
#forma input {
  display: inline-block;
  float: left;
}
#forma form {

position:relative;
width:100%;
height:100%;


}
#forma a{
display:inline-block;
color:white;
height:20px;
position:relative; 
}

	/* Warrning slika mala */

#upozorenje{
height:20px;
display:inline-block;
display:none;

}
#mailslika{
height:20px;
display:inline-block;
display:none;
}
#mailslika2 {
height:20px;
display:inline-block;
display:none;
}
#errorfname{
color:red;
}
#prezimeslika{
height:20px;
display:inline-block;
display:none;
}
#errormail{color:red;}
#errormaild{color:red;}
#errorprezime {color:red;}
#errorTexarea{color:red;}
#numberslika{height:20px;
display:inline-block;
display:none;}
#forma form textarea {

display:block;
float:left;
width:173px;
padding: 3px;}

#forma .send{

display:inline-block;

}
	/* Linkovi na stranici friends */

#linkovi{
width:60%;
margin:0 auto;
margin-top:13%;


}


#linkovi ul{

list-style:none;
list-style-image:url("images/ikona.png");
 padding-left:0;   


}

#linkovi li{ 
 list-style-position:inside;
 text-align:left;
margin-left:20%;	
}

#linkovi a{
color:white;
    text-decoration: none;
	background:#292929;
    text-transform: uppercase;

	
}

		#iznadtabele{
	height:13%;
		
		}
			/* Stranica products tabela tj kao cijenovnik*/
	#tabele{

	height:800px;
	width:48%;
	margin:0 auto;
	padding:45px;
	}
#tabele	table{
	color:white;
	font-weight:bold;
	text-align:Center;
	border:solid white;
	border-spacing:0px;
	padding:15px;
   
	}
	#tabele td{
	
	width:250px;
	
	}
	
	thead tr:hover{
background:none;
}
	
	tr:hover {
background:rgb(111, 111, 111);
}



	#tabele img{
	height:90px;
	width:90px;
	
	}
	
	
	